In [45]:
# Enable autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
import pandas as pd

# Part 1 - Data Acquisition (Preview)

## Web-crawling Demographics Data

In [47]:
from demographics_crawler import crawl_demographics, OUTPUT_DIR

In [48]:
df_demographics = crawl_demographics(save=True)
df_demographics

Crawling:   0%|          | 0/200 [00:00<?, ?country/s]

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
Country,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638,67.0
Albania,80.0,81.7,78.1,70.3,1948831,101.0
Algeria,76.7,78.1,75.3,74.4,35291973,20.0
Angola,65.0,67.5,62.4,68.8,26847887,31.0
Antigua and Barbuda,77.9,80.6,74.9,28.5,26823,214.0
...,...,...,...,...,...,...
Vietnam,74.9,79.5,70.2,41.4,42039428,328.0
Western Sahara,71.8,74.0,70.1,97.0,583007,2.0
Yemen,69.6,71.7,67.5,33.0,13801674,79.0
Zambia,66.7,69.1,64.3,46.8,10256668,29.0
Zimbabwe,63.3,65.6,60.8,37.9,6429761,44.0

In [49]:
print(df_demographics.shape, list(df_demographics.columns), sep="\n")

(200, 6)
['LifeExpectancy_Both', 'LifeExpectancy_Female', 'LifeExpectancy_Male', 'UrbanPopulation_Percentage', 'UrbanPopulation_Absolute', 'PopulationDensity']

In [50]:
df_demographics_before_sort = pd.read_csv(OUTPUT_DIR / "demographics_before_sort.csv")
df_demographics_before_sort

,Country,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
0,Afghanistan,66.5,68.1,64.9,26.7,11704638,67.0
1,Albania,80.0,81.7,78.1,70.3,1948831,101.0
2,Algeria,76.7,78.1,75.3,74.4,35291973,20.0
3,Angola,65.0,67.5,62.4,68.8,26847887,31.0
4,Antigua and Barbuda,77.9,80.6,74.9,28.5,26823,214.0
5,Argentina,77.7,80.2,75.1,96.0,44010474,17.0
6,Armenia,76.0,79.7,71.8,63.8,1882155,104.0
7,Aruba,76.6,79.1,74.0,44.7,48340,601.0
8,Australia,84.2,86.0,82.4,86.5,23335357,4.0
9,Austria,82.3,84.6,80.0,58.6,5337973,111.0

In [51]:
df_demographics_after_sort = pd.read_csv(OUTPUT_DIR / "demographics_after_sort.csv")
df_demographics_after_sort

,Country,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
0,Afghanistan,66.5,68.1,64.9,26.7,11704638,67.0
1,Albania,80.0,81.7,78.1,70.3,1948831,101.0
2,Algeria,76.7,78.1,75.3,74.4,35291973,20.0
3,Angola,65.0,67.5,62.4,68.8,26847887,31.0
4,Antigua and Barbuda,77.9,80.6,74.9,28.5,26823,214.0
5,Argentina,77.7,80.2,75.1,96.0,44010474,17.0
6,Armenia,76.0,79.7,71.8,63.8,1882155,104.0
7,Aruba,76.6,79.1,74.0,44.7,48340,601.0
8,Australia,84.2,86.0,82.4,86.5,23335357,4.0
9,Austria,82.3,84.6,80.0,58.6,5337973,111.0

## Load the 2021 CSVs

In [52]:
from utils import load_csv, read_csv

In [53]:
def confirm_cols(df, expected_cols):
        if all(col in df.columns for col in expected_cols):
            print(f"{expected_cols} cols exist in dataframe")

In [54]:
gdp_dataset_filename = 'gdp_per_capita_2021.csv'
df_gdp = read_csv(gdp_dataset_filename)

In [55]:
df_gdp

         Country  GDP_per_capita_PPP
0    Afghanistan           2144.1665
1        Albania          16353.8090
2        Algeria          14496.8650
3        Andorra          59332.2030
4         Angola           7408.1265
..           ...                 ...
208      Vanuatu           3135.8367
209      Vietnam          12048.9020
210        World          19702.8400
211       Zambia           3503.0350
212     Zimbabwe           3184.7854

[213 rows x 2 columns]

In [56]:
df_gdp.nunique()

Country               213
GDP_per_capita_PPP    213
dtype: int64

In [57]:
pop_dataset_filename = 'population_2021.csv'
df_pop = read_csv(pop_dataset_filename)

In [58]:
df_pop

            Country  Population
0       Afghanistan    40000360
1            Africa  1413750475
2       Africa (UN)  1413753005
3           Albania     2849591
4           Algeria    44761051
..              ...         ...
255  Western Sahara      558577
256           World  7954448327
257           Yemen    37140180
258          Zambia    19603556
259        Zimbabwe    15797165

[260 rows x 2 columns]

In [59]:
df_pop.nunique()

Country       260
Population    260
dtype: int64

In [60]:
gdp_dataset_expected_cols = ["Country", "GDP_per_capita_PPP"]
confirm_cols(df_gdp, gdp_dataset_expected_cols)
print(df_gdp.shape, df_gdp.columns)

['Country', 'GDP_per_capita_PPP'] cols exist in dataframe
(213, 2) Index(['Country', 'GDP_per_capita_PPP'], dtype='object')

In [61]:
print(df_gdp.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             213 non-null    object
 1   GDP_per_capita_PPP  213 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB
None

In [62]:
pop_dataset_expected_cols = ["Country", "Population"]
confirm_cols(df_pop, pop_dataset_expected_cols)
print(df_pop.shape, df_pop.columns)

['Country', 'Population'] cols exist in dataframe
(260, 2) Index(['Country', 'Population'], dtype='object')

In [63]:
print(df_pop.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     260 non-null    object
 1   Population  260 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.2+ KB
None

In [64]:
# numeric fix
for col in ["GDP_per_capita_PPP", "Population"]:
    if col in df_gdp.columns:
        df_gdp[col] = pd.to_numeric(df_gdp[col], errors="coerce")
    if col in df_pop.columns:
        df_pop[col] = pd.to_numeric(df_pop[col], errors="coerce")

In [65]:
df_gdp.head()

       Country  GDP_per_capita_PPP
0  Afghanistan           2144.1665
1      Albania          16353.8090
2      Algeria          14496.8650
3      Andorra          59332.2030
4       Angola           7408.1265

In [66]:
df_gdp.sort_values("Country", inplace=True)
df_gdp.head()

       Country  GDP_per_capita_PPP
0  Afghanistan           2144.1665
1      Albania          16353.8090
2      Algeria          14496.8650
3      Andorra          59332.2030
4       Angola           7408.1265

In [67]:
df_pop.head()

       Country  Population
0  Afghanistan    40000360
1       Africa  1413750475
2  Africa (UN)  1413753005
3      Albania     2849591
4      Algeria    44761051

In [68]:
df_gdp.describe()

       GDP_per_capita_PPP
count          213.000000
mean         25822.604541
std          25794.941595
min            836.665600
25%           6214.017000
50%          16353.809000
75%          38862.090000
max         137947.340000

In [69]:
df_pop.sort_values("Country", inplace=True)
df_pop.head()

       Country  Population
0  Afghanistan    40000360
1       Africa  1413750475
2  Africa (UN)  1413753005
3      Albania     2849591
4      Algeria    44761051

In [70]:
df_pop.describe()

         Population
count  2.600000e+02
mean   1.687752e+08
std    7.254974e+08
min    5.150000e+02
25%    5.224038e+05
50%    6.827910e+06
75%    3.425334e+07
max    7.954448e+09

## Demographics Data Analysis

In [71]:
from utils import OUTPUT_DIR

### Numeric-field Summary

In [72]:
num_cols = df_demographics.select_dtypes("number").columns
summary = (
    df_demographics[num_cols]
    .agg(["mean", "std", "min", "max", "median"])
    .T
    .assign(missing=df_demographics[num_cols].isna().sum())
)
display(summary)  # nice HTML in notebook

,mean,std,min,max,median,missing
LifeExpectancy_Both,7.397750e+01,7.004589e+00,54.8,85.8,74.85,0
LifeExpectancy_Female,7.659650e+01,7.126054e+00,55.1,88.4,78.05,0
LifeExpectancy_Male,7.137950e+01,6.979282e+00,53.5,83.1,71.20,0
UrbanPopulation_Percentage,5.727600e+01,2.514603e+01,0.0,98.8,60.55,0
UrbanPopulation_Absolute,2.359245e+07,8.318852e+07,0.0,956553854.0,4745905.00,0
PopulationDensity,3.760200e+02,1.866303e+03,2.0,24067.0,93.00,0

In [73]:
summary.to_csv(OUTPUT_DIR / "demographics_numeric_summary.csv")

### Pearson Correlation

In [74]:
corr = df_demographics["LifeExpectancy_Both"].corr(
    df_demographics["PopulationDensity"]
)
print(f"Pearson correlation (LifeExpectancy Both vs PopulationDensity): {corr:.4f}")

Pearson correlation (LifeExpectancy Both vs PopulationDensity): 0.1796

# Part 2 - Data Cleaning

In [75]:
from data_cleaning import clean_demographics, clean_gdp, clean_population

In [76]:
df_demographics_clean = clean_demographics(df_demographics)
df_demographics_clean

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
Country,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638,67.0
Albania,80.0,81.7,78.1,70.3,1948831,101.0
Algeria,76.7,78.1,75.3,74.4,35291973,20.0
Angola,65.0,67.5,62.4,68.8,26847887,31.0
Antigua And Barbuda,77.9,80.6,74.9,28.5,26823,214.0
...,...,...,...,...,...,...
Vietnam,74.9,79.5,70.2,41.4,42039428,328.0
Western Sahara,71.8,74.0,70.1,97.0,583007,2.0
Yemen,69.6,71.7,67.5,33.0,13801674,79.0
Zambia,66.7,69.1,64.3,46.8,10256668,29.0
Zimbabwe,63.3,65.6,60.8,37.9,6429761,44.0

In [77]:
df_gdp_clean = clean_gdp(df_gdp)
df_gdp_clean.head()

[GDP] Tukey outliers count: 6

             GDP_per_capita_PPP
Country
Afghanistan           2144.1665
Albania              16353.8090
Algeria              14496.8650
Andorra              59332.2030
Angola                7408.1265

In [78]:
df_pop_clean = clean_population(df_pop)
df_pop_clean.head()

[Population] Logâ€‘Tukey outliers count: 1

             Population
Country
Afghanistan    40000360
Africa       1413750475
Africa (Un)  1413753005
Albania         2849591
Algeria        44761051

## Data Integration (inner join)

In [79]:
from feature_engineering import merge_dfs

In [80]:
merged_no_country_normalization = merge_dfs(df_demographics_clean, df_gdp_clean, df_pop_clean)
merged_no_country_normalization

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity,GDP_per_capita_PPP,Population
Country,,,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638,67.0,2144.1665,40000360
Albania,80.0,81.7,78.1,70.3,1948831,101.0,16353.8090,2849591
Algeria,76.7,78.1,75.3,74.4,35291973,20.0,14496.8650,44761051
Angola,65.0,67.5,62.4,68.8,26847887,31.0,7408.1265,34532382
Antigua And Barbuda,77.9,80.6,74.9,28.5,26823,214.0,25733.2950,92316
...,...,...,...,...,...,...,...,...
Uzbekistan,72.7,75.7,69.7,48.1,17835913,87.0,9247.6440,34243658
Vanuatu,71.8,74.3,69.7,25.4,85244,27.0,3135.8367,305836
Vietnam,74.9,79.5,70.2,41.4,42039428,328.0,12048.9020,98935054
Zambia,66.7,69.1,64.3,46.8,10256668,29.0,3503.0350,19603556
Zimbabwe,63.3,65.6,60.8,37.9,6429761,44.0,3184.7854,15797165

In [81]:
manual_country_map = {
    "Cape Verde": "Cabo Verde", "Czechia": "Czech Republic (Czechia)", "Cote D'Ivoire": "Côte D'Ivoire", "Democratic Republic Of Congo": "Dr Congo", "Reunion": "Réunion", "Curacao": "Curaçao",
    "Micronesia (Country)": "Micronesia", "Palestine": "State Of Palestine", "Saint Vincent And The Grenadines": "St. Vincent & Grenadines", "Sao Tome And Principe": "Sao Tome & Principe",
    "United States Virgin Islands": "U.S. Virgin Islands", "East Timor": "Timor-Leste",
}
df_gdp_normalized = df_gdp_clean.rename(index=manual_country_map)
df_pop_normalized = df_pop_clean.rename(index=manual_country_map)
df_final = merge_dfs(
    df_demographics_clean, df_gdp_normalized, df_pop_normalized
)
df_final

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity,GDP_per_capita_PPP,Population
Country,,,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638,67.0,2144.1665,40000360
Albania,80.0,81.7,78.1,70.3,1948831,101.0,16353.8090,2849591
Algeria,76.7,78.1,75.3,74.4,35291973,20.0,14496.8650,44761051
Angola,65.0,67.5,62.4,68.8,26847887,31.0,7408.1265,34532382
Antigua And Barbuda,77.9,80.6,74.9,28.5,26823,214.0,25733.2950,92316
...,...,...,...,...,...,...,...,...
Uzbekistan,72.7,75.7,69.7,48.1,17835913,87.0,9247.6440,34243658
Vanuatu,71.8,74.3,69.7,25.4,85244,27.0,3135.8367,305836
Vietnam,74.9,79.5,70.2,41.4,42039428,328.0,12048.9020,98935054
Zambia,66.7,69.1,64.3,46.8,10256668,29.0,3503.0350,19603556
Zimbabwe,63.3,65.6,60.8,37.9,6429761,44.0,3184.7854,15797165

In [82]:
df_gdp_normalized = df_gdp_clean.rename(index=manual_country_map)
df_pop_normalized = df_pop_clean.rename(index=manual_country_map)

In [83]:
df_final = merge_dfs(
    df_demographics_clean, df_gdp_normalized, df_pop_normalized
)
df_final

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity,GDP_per_capita_PPP,Population
Country,,,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638,67.0,2144.1665,40000360
Albania,80.0,81.7,78.1,70.3,1948831,101.0,16353.8090,2849591
Algeria,76.7,78.1,75.3,74.4,35291973,20.0,14496.8650,44761051
Angola,65.0,67.5,62.4,68.8,26847887,31.0,7408.1265,34532382
Antigua And Barbuda,77.9,80.6,74.9,28.5,26823,214.0,25733.2950,92316
...,...,...,...,...,...,...,...,...
Uzbekistan,72.7,75.7,69.7,48.1,17835913,87.0,9247.6440,34243658
Vanuatu,71.8,74.3,69.7,25.4,85244,27.0,3135.8367,305836
Vietnam,74.9,79.5,70.2,41.4,42039428,328.0,12048.9020,98935054
Zambia,66.7,69.1,64.3,46.8,10256668,29.0,3503.0350,19603556
Zimbabwe,63.3,65.6,60.8,37.9,6429761,44.0,3184.7854,15797165

In [84]:
# left join of normalized
# df_final_left = df_demographics_clean.join(
#     df_gdp_normalized, how="left"
# ).join(df_pop_normalized, how="left")
# df_final_left

In [85]:
missing_from_demographics = set(df_demographics_clean.index) - set(df_final.index)

In [86]:
missing_from_demographics

{'Cuba',
 'Eritrea',
 'French Guiana',
 'French Polynesia',
 'Guadeloupe',
 'Guam',
 'Martinique',
 'Mayotte',
 'New Caledonia',
 'North Korea',
 'Réunion',
 'South Sudan',
 'Taiwan',
 'Venezuela',
 'Western Sahara',
 'Yemen'}

In [87]:
len(missing_from_demographics)

16

In [88]:
pop_countries_dropped_from_demographics = set()
gdp_countries_dropped_from_demographics = set()
for country in missing_from_demographics:
    # check if it exists in GDP or Population
    if country in df_gdp_normalized.index:
        print(f"GDP: {country} exists")
    if country in df_pop_normalized.index:
        pop_countries_dropped_from_demographics.add(country)
        print(f"Population: {country} exists")
len(pop_countries_dropped_from_demographics), len(gdp_countries_dropped_from_demographics)

Population: French Guiana exists
Population: Guadeloupe exists
Population: Western Sahara exists
Population: Yemen exists
Population: Venezuela exists
Population: Réunion exists
Population: French Polynesia exists
Population: Martinique exists
Population: Taiwan exists
Population: North Korea exists
Population: South Sudan exists
Population: Guam exists
Population: Eritrea exists
Population: Cuba exists
Population: Mayotte exists
Population: New Caledonia exists

(16, 0)

In [89]:
sorted(pop_countries_dropped_from_demographics)

['Cuba',
 'Eritrea',
 'French Guiana',
 'French Polynesia',
 'Guadeloupe',
 'Guam',
 'Martinique',
 'Mayotte',
 'New Caledonia',
 'North Korea',
 'Réunion',
 'South Sudan',
 'Taiwan',
 'Venezuela',
 'Western Sahara',
 'Yemen']

In [90]:
diff_demo_pop = missing_from_demographics - pop_countries_dropped_from_demographics
diff_demo_pop

set()

In [91]:
union = set(df_demographics_clean.index) | set(df_gdp_normalized.index) | set(df_pop_normalized.index)
union

{'Afghanistan',
 'Africa',
 'Africa (Un)',
 'Albania',
 'Algeria',
 'American Samoa',
 'Americas (Un)',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua And Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia',
 'Asia (Excl. China And India)',
 'Asia (Un)',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire Sint Eustatius And Saba',
 'Bosnia And Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic (Czechia)',
 "Côte D'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Dr Congo',
 'East Asia And Pacific (Wb)',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Europe',
 'Europe (Excl. Russia)',
 'Europe (Un)',
 'Europe And Central Asia (Wb)',
 'European Union (27)',
 'Faeroe Islands',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'High-Income Countries',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle Of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latin America And Caribbean (Wb)',
 'Latin America And The Caribbean (Un)',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low-Income Countries',
 'Lower-Middle-Income Countries',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia',
 'Middle East And North Africa (Wb)',
 'Middle-Income Countries',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North America',
 'North America (Wb)',
 'North Korea',
 'North Macedonia',
 'Northern America (Un)',
 'Northern Mariana Islands',
 'Norway',
 'Oceania',
 'Oceania (Un)',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts And Nevis',
 'Saint Lucia',
 'Saint Martin (French Part)',
 'Saint Pierre And Miquelon',
 'Samoa',
 'San Marino',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch Part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South America',
 'South America (Excl. Brazil)',
 'South Asia (Wb)',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Vincent & Grenadines',
 'State Of Palestine',
 'Sub-Saharan Africa (Wb)',
 'Sudan',
 'Suriname',
 'Svalbard And Jan Mayen',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad And Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks And Caicos Islands',
 'Tuvalu',
 'U.S. Virgin Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Upper-Middle-Income Countries',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican',
 'Venezuela',
 'Vietnam',
 'Wallis And Futuna',
 'Western Sahara',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [92]:
lost = union - set(df_final.index)
lost

{'Africa',
 'Africa (Un)',
 'American Samoa',
 'Americas (Un)',
 'Andorra',
 'Anguilla',
 'Asia',
 'Asia (Excl. China And India)',
 'Asia (Un)',
 'Bermuda',
 'Bonaire Sint Eustatius And Saba',
 'British Virgin Islands',
 'Cayman Islands',
 'Cook Islands',
 'Cuba',
 'Dominica',
 'East Asia And Pacific (Wb)',
 'Eritrea',
 'Europe',
 'Europe (Excl. Russia)',
 'Europe (Un)',
 'Europe And Central Asia (Wb)',
 'European Union (27)',
 'Faeroe Islands',
 'Falkland Islands',
 'Faroe Islands',
 'French Guiana',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Guernsey',
 'High-Income Countries',
 'Isle Of Man',
 'Jersey',
 'Kosovo',
 'Latin America And Caribbean (Wb)',
 'Latin America And The Caribbean (Un)',
 'Liechtenstein',
 'Low-Income Countries',
 'Lower-Middle-Income Countries',
 'Marshall Islands',
 'Martinique',
 'Mayotte',
 'Middle East And North Africa (Wb)',
 'Middle-Income Countries',
 'Monaco',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North America',
 'North America (Wb)',
 'North Korea',
 'Northern America (Un)',
 'Northern Mariana Islands',
 'Oceania',
 'Oceania (Un)',
 'Palau',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts And Nevis',
 'Saint Martin (French Part)',
 'Saint Pierre And Miquelon',
 'San Marino',
 'Sint Maarten (Dutch Part)',
 'South America',
 'South America (Excl. Brazil)',
 'South Asia (Wb)',
 'South Sudan',
 'Sub-Saharan Africa (Wb)',
 'Svalbard And Jan Mayen',
 'Taiwan',
 'Tokelau',
 'Turks And Caicos Islands',
 'Tuvalu',
 'Upper-Middle-Income Countries',
 'Vatican',
 'Venezuela',
 'Wallis And Futuna',
 'Western Sahara',
 'World',
 'Yemen'}

In [93]:
sorted(lost)

['Africa',
 'Africa (Un)',
 'American Samoa',
 'Americas (Un)',
 'Andorra',
 'Anguilla',
 'Asia',
 'Asia (Excl. China And India)',
 'Asia (Un)',
 'Bermuda',
 'Bonaire Sint Eustatius And Saba',
 'British Virgin Islands',
 'Cayman Islands',
 'Cook Islands',
 'Cuba',
 'Dominica',
 'East Asia And Pacific (Wb)',
 'Eritrea',
 'Europe',
 'Europe (Excl. Russia)',
 'Europe (Un)',
 'Europe And Central Asia (Wb)',
 'European Union (27)',
 'Faeroe Islands',
 'Falkland Islands',
 'Faroe Islands',
 'French Guiana',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Guernsey',
 'High-Income Countries',
 'Isle Of Man',
 'Jersey',
 'Kosovo',
 'Latin America And Caribbean (Wb)',
 'Latin America And The Caribbean (Un)',
 'Liechtenstein',
 'Low-Income Countries',
 'Lower-Middle-Income Countries',
 'Marshall Islands',
 'Martinique',
 'Mayotte',
 'Middle East And North Africa (Wb)',
 'Middle-Income Countries',
 'Monaco',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North America',
 'North America (Wb)',
 'North Korea',
 'Northern America (Un)',
 'Northern Mariana Islands',
 'Oceania',
 'Oceania (Un)',
 'Palau',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts And Nevis',
 'Saint Martin (French Part)',
 'Saint Pierre And Miquelon',
 'San Marino',
 'Sint Maarten (Dutch Part)',
 'South America',
 'South America (Excl. Brazil)',
 'South Asia (Wb)',
 'South Sudan',
 'Sub-Saharan Africa (Wb)',
 'Svalbard And Jan Mayen',
 'Taiwan',
 'Tokelau',
 'Turks And Caicos Islands',
 'Tuvalu',
 'Upper-Middle-Income Countries',
 'Vatican',
 'Venezuela',
 'Wallis And Futuna',
 'Western Sahara',
 'World',
 'Yemen']

In [94]:
pd.Series(sorted(lost), name="LostCountries").to_csv(OUTPUT_DIR / "lost_countries.csv", index=False)

In [95]:
list(df_demographics.index)

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic (Czechia)',
 "Côte d'Ivoire",
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Réunion',
 'Saint Lucia',
 'Samoa',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'U.S. Virgin Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [96]:
set(df_gdp.index) | set(df_pop.index)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259}

In [97]:
lost

{'Africa',
 'Africa (Un)',
 'American Samoa',
 'Americas (Un)',
 'Andorra',
 'Anguilla',
 'Asia',
 'Asia (Excl. China And India)',
 'Asia (Un)',
 'Bermuda',
 'Bonaire Sint Eustatius And Saba',
 'British Virgin Islands',
 'Cayman Islands',
 'Cook Islands',
 'Cuba',
 'Dominica',
 'East Asia And Pacific (Wb)',
 'Eritrea',
 'Europe',
 'Europe (Excl. Russia)',
 'Europe (Un)',
 'Europe And Central Asia (Wb)',
 'European Union (27)',
 'Faeroe Islands',
 'Falkland Islands',
 'Faroe Islands',
 'French Guiana',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Guernsey',
 'High-Income Countries',
 'Isle Of Man',
 'Jersey',
 'Kosovo',
 'Latin America And Caribbean (Wb)',
 'Latin America And The Caribbean (Un)',
 'Liechtenstein',
 'Low-Income Countries',
 'Lower-Middle-Income Countries',
 'Marshall Islands',
 'Martinique',
 'Mayotte',
 'Middle East And North Africa (Wb)',
 'Middle-Income Countries',
 'Monaco',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North America',
 'North America (Wb)',
 'North Korea',
 'Northern America (Un)',
 'Northern Mariana Islands',
 'Oceania',
 'Oceania (Un)',
 'Palau',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts And Nevis',
 'Saint Martin (French Part)',
 'Saint Pierre And Miquelon',
 'San Marino',
 'Sint Maarten (Dutch Part)',
 'South America',
 'South America (Excl. Brazil)',
 'South Asia (Wb)',
 'South Sudan',
 'Sub-Saharan Africa (Wb)',
 'Svalbard And Jan Mayen',
 'Taiwan',
 'Tokelau',
 'Turks And Caicos Islands',
 'Tuvalu',
 'Upper-Middle-Income Countries',
 'Vatican',
 'Venezuela',
 'Wallis And Futuna',
 'Western Sahara',
 'World',
 'Yemen'}

- Andorra
- Cuba
- Dominica
- Eritrea
- Marshall Islands
- Nauru
- Kosovo
- Monaco
- Palau
- Palestine
- Saint Kitts And Nevis
- San Marino
- South Sudan
- State Of Palestine
- Taiwan
- Timor-Leste
- Tuvalu
- Vatican
- Venezuela
- Yemen

In [98]:
set(df_demographics.index)

{'Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Antigua and Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic (Czechia)',
 "Côte d'Ivoire",
 'DR Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Lithuania',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'North Macedonia',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Réunion',
 'Saint Lucia',
 'Samoa',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Vincent & Grenadines',
 'State of Palestine',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'U.S. Virgin Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Western Sahara',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [99]:
set(df_gdp.index) | set(df_pop.index)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259}

In [100]:
union

{'Afghanistan',
 'Africa',
 'Africa (Un)',
 'Albania',
 'Algeria',
 'American Samoa',
 'Americas (Un)',
 'Andorra',
 'Angola',
 'Anguilla',
 'Antigua And Barbuda',
 'Argentina',
 'Armenia',
 'Aruba',
 'Asia',
 'Asia (Excl. China And India)',
 'Asia (Un)',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bonaire Sint Eustatius And Saba',
 'Bosnia And Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curaçao',
 'Cyprus',
 'Czech Republic (Czechia)',
 "Côte D'Ivoire",
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Dr Congo',
 'East Asia And Pacific (Wb)',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Europe',
 'Europe (Excl. Russia)',
 'Europe (Un)',
 'Europe And Central Asia (Wb)',
 'European Union (27)',
 'Faeroe Islands',
 'Falkland Islands',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'France',
 'French Guiana',
 'French Polynesia',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guadeloupe',
 'Guam',
 'Guatemala',
 'Guernsey',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'High-Income Countries',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Isle Of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jersey',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latin America And Caribbean (Wb)',
 'Latin America And The Caribbean (Un)',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low-Income Countries',
 'Lower-Middle-Income Countries',
 'Luxembourg',
 'Macao',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Martinique',
 'Mauritania',
 'Mauritius',
 'Mayotte',
 'Mexico',
 'Micronesia',
 'Middle East And North Africa (Wb)',
 'Middle-Income Countries',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Montserrat',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Niue',
 'North America',
 'North America (Wb)',
 'North Korea',
 'North Macedonia',
 'Northern America (Un)',
 'Northern Mariana Islands',
 'Norway',
 'Oceania',
 'Oceania (Un)',
 'Oman',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russia',
 'Rwanda',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts And Nevis',
 'Saint Lucia',
 'Saint Martin (French Part)',
 'Saint Pierre And Miquelon',
 'Samoa',
 'San Marino',
 'Sao Tome & Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch Part)',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South America',
 'South America (Excl. Brazil)',
 'South Asia (Wb)',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Vincent & Grenadines',
 'State Of Palestine',
 'Sub-Saharan Africa (Wb)',
 'Sudan',
 'Suriname',
 'Svalbard And Jan Mayen',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tokelau',
 'Tonga',
 'Trinidad And Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Turks And Caicos Islands',
 'Tuvalu',
 'U.S. Virgin Islands',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Upper-Middle-Income Countries',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Vatican',
 'Venezuela',
 'Vietnam',
 'Wallis And Futuna',
 'Western Sahara',
 'World',
 'Yemen',
 'Zambia',
 'Zimbabwe'}

In [101]:
lost

{'Africa',
 'Africa (Un)',
 'American Samoa',
 'Americas (Un)',
 'Andorra',
 'Anguilla',
 'Asia',
 'Asia (Excl. China And India)',
 'Asia (Un)',
 'Bermuda',
 'Bonaire Sint Eustatius And Saba',
 'British Virgin Islands',
 'Cayman Islands',
 'Cook Islands',
 'Cuba',
 'Dominica',
 'East Asia And Pacific (Wb)',
 'Eritrea',
 'Europe',
 'Europe (Excl. Russia)',
 'Europe (Un)',
 'Europe And Central Asia (Wb)',
 'European Union (27)',
 'Faeroe Islands',
 'Falkland Islands',
 'Faroe Islands',
 'French Guiana',
 'French Polynesia',
 'Gibraltar',
 'Greenland',
 'Guadeloupe',
 'Guam',
 'Guernsey',
 'High-Income Countries',
 'Isle Of Man',
 'Jersey',
 'Kosovo',
 'Latin America And Caribbean (Wb)',
 'Latin America And The Caribbean (Un)',
 'Liechtenstein',
 'Low-Income Countries',
 'Lower-Middle-Income Countries',
 'Marshall Islands',
 'Martinique',
 'Mayotte',
 'Middle East And North Africa (Wb)',
 'Middle-Income Countries',
 'Monaco',
 'Montserrat',
 'Nauru',
 'New Caledonia',
 'Niue',
 'North America',
 'North America (Wb)',
 'North Korea',
 'Northern America (Un)',
 'Northern Mariana Islands',
 'Oceania',
 'Oceania (Un)',
 'Palau',
 'Réunion',
 'Saint Barthelemy',
 'Saint Helena',
 'Saint Kitts And Nevis',
 'Saint Martin (French Part)',
 'Saint Pierre And Miquelon',
 'San Marino',
 'Sint Maarten (Dutch Part)',
 'South America',
 'South America (Excl. Brazil)',
 'South Asia (Wb)',
 'South Sudan',
 'Sub-Saharan Africa (Wb)',
 'Svalbard And Jan Mayen',
 'Taiwan',
 'Tokelau',
 'Turks And Caicos Islands',
 'Tuvalu',
 'Upper-Middle-Income Countries',
 'Vatican',
 'Venezuela',
 'Wallis And Futuna',
 'Western Sahara',
 'World',
 'Yemen'}

# Part 3 - Feature Engineering

In [102]:
import numpy as np

In [103]:
df_final_engineered = df_final.copy()

## New Feature

In [104]:
df_final_engineered["TotalGDP"] = df_final_engineered["GDP_per_capita_PPP"] * df_final_engineered["Population"]
df_final_engineered["TotalGDP"].describe()

count    1.840000e+02
mean     8.410245e+11
std      3.007097e+12
min      3.913878e+08
25%      3.046473e+10
50%      1.022966e+11
75%      5.116439e+11
max      2.910892e+13
Name: TotalGDP, dtype: float64

## Log Transforms

In [105]:
df_final_engineered["LogGDPperCapita"] = np.log10(df_final_engineered["GDP_per_capita_PPP"].clip(lower=1))
df_final_engineered["LogPopulation"] = np.log10(df_final_engineered["Population"].clip(lower=1))

## Scaling

In [106]:
def z(s: pd.Series):
    return (s - s.mean()) / s.std(ddof=0)

In [107]:
df_final_engineered["LifeExpectancy_z"] = z(df_final_engineered["LifeExpectancy_Both"])
df_final_engineered["LogGDPpc_z"] = z(df_final_engineered["LogGDPperCapita"])
df_final_engineered["LogPop_z"] = z(df_final_engineered["LogPopulation"])
X = df_final_engineered.sort_index()[["LifeExpectancy_z", "LogGDPpc_z", "LogPop_z"]].to_numpy()

In [108]:
X

array([[-1.04374150e+00, -1.61673848e+00,  8.48610005e-01],
       [ 8.89487853e-01,  1.31975552e-01, -4.89082724e-01],
       [ 4.16920678e-01,  2.82354803e-02,  9.05551629e-01],
       [-1.25854476e+00, -5.49606669e-01,  7.74177717e-01],
       [ 5.88763287e-01,  5.22156992e-01, -2.22579771e+00],
       [ 5.60122852e-01,  5.40915007e-01,  9.11748888e-01],
       [ 3.16679156e-01,  1.08927822e-01, -4.85417271e-01],
       [ 4.02600460e-01,  8.03834517e-01, -2.14857751e+00],
       [ 1.49093698e+00,  1.21149242e+00,  6.29617830e-01],
       [ 1.21885285e+00,  1.30063017e+00,  9.14115769e-02],
       [ 1.30516329e-01,  3.09991771e-01,  1.58352148e-01],
       [ 1.59156764e-01,  6.35066899e-01, -1.48800198e+00],
       [ 1.11861133e+00,  1.17519791e+00, -8.13451412e-01],
       [ 2.02117417e-01, -5.45787706e-01,  1.57426436e+00],
       [ 3.88280243e-01,  9.59745420e-02, -1.66013672e+00],
       [ 1.44836547e-01,  5.82781208e-01,  1.07217441e-01],
       [ 1.23317307e+00,  1.27727018e+00,  2.20502480e-01],
       [ 1.59545901e-02, -1.57911963e-01, -1.48929919e+00],
       [-1.81703324e+00, -1.20380711e+00,  2.95328179e-01],
       [-4.13262796e-02, -3.57138648e-02, -1.14814910e+00],
       [-7.00056281e-01, -3.39695477e-01,  2.36293879e-01],
       [ 6.31723939e-01,  2.40157863e-01, -4.23305093e-01],
       [-6.28455194e-01,  2.12677298e-01, -5.75733012e-01],
       [ 3.45319591e-01,  2.18139500e-01,  1.68720208e+00],
       [ 2.73718504e-01,  1.47935984e+00, -1.42180481e+00],
       [ 3.16679156e-01,  6.40803465e-01, -4.29516095e-02],
       [-1.75975237e+00, -1.48926945e+00,  5.45766417e-01],
       [-1.40174693e+00, -2.42673736e+00,  2.78129331e-01],
       [ 3.73960026e-01, -5.17977817e-01, -1.35378718e+00],
       [-3.99331715e-01, -6.99300195e-01,  4.14551688e-01],
       [-1.37310650e+00, -9.24278292e-01,  6.47995852e-01],
       [ 1.30477416e+00,  1.18805441e+00,  8.28646014e-01],
       [-2.27528020e+00, -2.16915550e+00, -1.93145836e-01],
       [-2.63328563e+00, -1.81644432e+00,  4.39406974e-01],
       [ 1.10429111e+00,  6.28134385e-01,  4.83657292e-01],
       [ 6.60364374e-01,  3.22540218e-01,  2.65841157e+00],
       [ 6.17403722e-01,  2.00063941e-01,  9.73491274e-01],
       [-9.43499977e-01, -1.20955980e+00, -1.12098883e+00],
       [-1.08670215e+00, -6.94106631e-01, -1.21231298e-01],
       [ 1.06133046e+00,  4.67159758e-01, -1.98333874e-01],
       [ 7.31965461e-01,  8.32708446e-01, -3.27003663e-01],
       [ 4.88521765e-01,  5.02901595e-01, -1.87303517e+00],
       [ 1.17589220e+00,  1.09266442e+00, -8.79807812e-01],
       [ 9.03808070e-01,  1.09379905e+00,  1.72803613e-01],
       [-1.64519063e+00, -7.24599647e-01,  6.96812249e-01],
       [ 1.20453264e+00,  1.38767706e+00, -1.24283892e-01],
       [-1.05806172e+00, -7.38572137e-01, -9.61414130e-01],
       [ 3.02748075e-02,  3.83806923e-01,  2.00536128e-01],
       [-1.65951085e+00, -2.03845699e+00,  1.30826225e+00],
       [ 5.74443070e-01, -3.05557757e-02,  4.35248033e-01],
       [-2.56129541e-01,  9.02001460e-02,  1.36523923e+00],
       [-1.84528454e-01, -2.24372066e-01, -9.09095614e-02],
       [-1.38742672e+00,  1.56242441e-01, -7.33443764e-01],
       [ 8.17886766e-01,  1.00440264e+00, -8.74290918e-01],
       [-1.34446607e+00, -3.04727023e-01, -9.24265996e-01],
       [-8.43258455e-01, -1.45467182e+00,  1.41385798e+00],
       [-8.86219108e-01, -2.34344127e-01, -1.06340329e+00],
       [ 1.20453264e+00,  1.21193238e+00, -1.52343037e-01],
       [ 1.40501568e+00,  1.15853653e+00,  1.10282481e+00],
       [-7.28696716e-01,  2.39206029e-01, -5.80973887e-01],
       [-1.07238193e+00, -1.39389456e+00, -5.40201737e-01],
       [ 1.44836547e-01,  2.57233884e-01, -3.44883685e-01],
       [ 1.13293155e+00,  1.29211057e+00,  1.22247298e+00],
       [-1.12966280e+00, -6.48047634e-01,  7.43752259e-01],
       [ 1.20453264e+00,  7.51166934e-01,  1.75149183e-01],
       [ 2.45078069e-01,  7.45397432e-02, -2.10734807e+00],
       [-1.27247584e-01, -1.46863085e-01,  4.32842536e-01],
       [-1.81703324e+00, -1.13817037e+00,  3.06421667e-01],
       [-1.34446607e+00, -1.50163030e+00, -6.53681679e-01],
       [-4.85253020e-01,  4.20474756e-01, -1.12265528e+00],
       [-1.21558411e+00, -1.28978694e+00,  2.11840403e-01],
       [-8.42869319e-02, -7.02423740e-01,  1.61090604e-01],
       [ 1.72006046e+00,  1.33133175e+00, -9.58108107e-05],
       [ 5.02841982e-01,  8.72215989e-01,  1.31606080e-01],
       [ 1.34773481e+00,  1.27946951e+00, -1.51926531e+00],
       [-1.84528454e-01, -4.78084358e-01,  2.65405010e+00],
       [-3.42050846e-01, -8.18033225e-02,  1.82806498e+00],
       [ 6.17403722e-01,  5.48362785e-02,  1.25047312e+00],
       [-1.84528454e-01, -8.35133420e-02,  8.86064014e-01],
       [ 1.27613372e+00,  1.83368133e+00, -2.01501326e-01],
       [ 1.29045394e+00,  1.02655151e+00,  9.00466488e-02],
       [ 1.46229655e+00,  1.10184210e+00,  1.05163237e+00],
       [-2.99090193e-01, -3.28572826e-01, -4.91211957e-01],
       [ 1.60549872e+00,  9.94524938e-01,  1.42832880e+00],
       [ 6.17403722e-01, -3.64793633e-01,  1.97928966e-01],
       [ 1.30516329e-01,  7.34821015e-01,  4.91079699e-01],
       [-1.40174693e+00, -8.31546872e-01,  9.93194405e-01],
       [-1.01510106e+00, -1.31358059e+00, -2.05894152e+00],
       [ 1.00404959e+00,  1.10565336e+00, -2.73642281e-01],
       [-2.56129541e-01, -7.69717851e-01, -4.71467632e-02],
       [-6.14134977e-01, -4.74838302e-01, -2.22494434e-03],
       [ 3.88280243e-01,  8.01627610e-01, -6.98193620e-01],
       [ 6.17403722e-01, -1.63657095e-01, -1.36414971e-01],
       [-2.23231955e+00, -1.46930369e+00, -6.06130356e-01],
       [-1.61655020e+00, -1.90204878e+00, -1.78767954e-01],
       [-8.42869319e-02, -8.96358719e-02, -2.43049593e-02],
       [ 3.59639808e-01,  1.03281054e+00, -4.98978610e-01],
       [ 1.24749329e+00,  1.96736419e+00, -1.24514787e+00],
       [ 1.37637525e+00,  1.43337307e+00, -1.20404925e+00],
       [-1.40174693e+00, -1.86902511e+00,  6.97688820e-01],
       [-8.71898890e-01, -1.82283327e+00,  4.98808360e-01],
       [ 4.59881330e-01,  6.49102492e-01,  7.70498231e-01],
       [ 1.10429111e+00,  2.63443866e-01, -1.35426475e+00],
       [-1.84567367e+00, -1.53871137e+00,  5.54742817e-01],
       [ 1.40501568e+00,  1.22457366e+00, -1.34627130e+00],
       [-7.00056281e-01, -7.54830139e-01, -2.31962056e-01],
       [ 2.16437634e-01,  4.15629466e-01, -8.94504426e-01],
       [ 2.30757851e-01,  3.48504843e-01,  1.43619986e+00],
       [-2.84769976e-01, -1.09705809e+00, -2.12978681e+00],
       [-3.27730628e-01,  9.58749315e-02, -4.59046678e-01],
       [-2.27489106e-01,  4.55969087e-02, -4.08729573e-01],
       [ 5.17162200e-01,  4.80234288e-01, -1.27481166e+00],
       [ 2.73718504e-01, -4.18876517e-01,  8.08503272e-01],
       [-1.40174693e+00, -1.94915331e+00,  7.30965780e-01],
       [-9.29179760e-01, -8.57803258e-01,  9.94789788e-01],
       [-8.71898890e-01, -3.16796520e-01, -4.96075672e-01],
       [-4.13651933e-01, -9.69873834e-01,  6.93990325e-01],
       [ 1.23317307e+00,  1.37511748e+00,  4.36624209e-01],
       [ 1.23317307e+00,  1.06220956e+00, -1.93582163e-01],
       [ 2.16437634e-01, -5.87795280e-01, -6.03657483e-02],
       [-1.73111194e+00, -1.87649102e+00,  6.00421484e-01],
       [-2.71920694e+00, -8.07251494e-01,  1.70844763e+00],
       [ 5.60122852e-01,  4.01659221e-01, -7.07541030e-01],
       [ 1.40501568e+00,  1.59219038e+00, -1.64644631e-01],
       [ 9.61088940e-01,  8.73805904e-01, -2.57677290e-01],
       [-8.43258455e-01, -8.26977110e-01,  1.75480140e+00],
       [ 8.89487853e-01,  6.80553771e-01, -2.75427081e-01],
       [-1.05806172e+00, -1.08503227e+00,  1.47273318e-01],
       [ 4.45950249e-02,  8.05972020e-02, -5.73688687e-02],
       [ 6.17403722e-01,  7.36475205e-02,  7.53579228e-01],
       [-5.28213672e-01, -3.95780729e-01,  1.37493026e+00],
       [ 7.46285679e-01,  9.39173275e-01,  8.23167995e-01],
       [ 1.27613372e+00,  8.76970725e-01,  1.66040438e-01],
       [ 1.19021242e+00,  9.13771036e-01, -4.22013215e-01],
       [ 1.27613372e+00,  1.82437425e+00, -4.95278142e-01],
       [ 3.45319591e-01,  8.59272998e-01,  4.78210485e-01],
       [-4.13262796e-02,  8.78661289e-01,  1.50365191e+00],
       [-8.00297803e-01, -1.40848966e+00,  2.93127899e-01],
       [-1.12927367e-01,  2.65634028e-01, -1.89194103e+00],
       [-2.70449758e-01, -7.00893772e-01, -1.80066384e+00],
       [-5.28213672e-01, -7.70285901e-01, -1.78164432e+00],
       [ 7.74926113e-01,  1.18784661e+00,  7.24869618e-01],
       [-6.57095629e-01, -1.04346521e+00,  4.21854204e-01],
       [ 4.74201548e-01,  4.50167464e-01, -4.60378144e-02],
       [-9.86071493e-02,  6.53621116e-01, -2.08068713e+00],
       [-1.67383107e+00, -1.37219862e+00,  3.95788477e-02],
       [ 1.46229655e+00,  1.92854601e+00, -1.51866134e-01],
       [ 7.03325026e-01,  8.67515056e-01, -1.61407600e-01],
       [ 1.16157198e+00,  1.02722243e+00, -6.40414283e-01],
       [-4.27972150e-01, -1.47826612e+00, -1.15661831e+00],
       [-2.10343759e+00, -1.98828646e+00,  4.23338875e-01],
       [-1.04374150e+00, -1.97168920e-02,  1.06644682e+00],
       [ 1.53389764e+00,  1.06892324e+00,  9.79980848e-01],
       [ 1.46229655e+00,  9.85625911e-01,  9.38131326e-01],
       [ 5.88763287e-01,  1.74376984e-02,  5.61744928e-01],
       [-3.27730628e-01,  1.07806558e-01, -2.17134299e+00],
       [-9.86071493e-02, -7.80795494e-01, -1.85942339e-01],
       [-1.01510106e+00, -1.25903680e+00,  9.41633216e-01],
       [ 1.59545901e-02,  2.36164315e-01, -1.26315725e+00],
       [ 1.40501568e+00,  1.29449388e+00,  1.67265499e-01],
       [ 1.49093698e+00,  1.51548825e+00,  7.65102067e-02],
       [-1.12927367e-01, -9.61094576e-01,  5.37259787e-01],
       [-2.41809324e-01, -1.08308473e+00,  1.44942595e-01],
       [-9.14859542e-01, -1.19668265e+00,  1.07726285e+00],
       [ 4.31240895e-01,  3.15701920e-01,  1.14432330e+00],
       [-8.14618020e-01, -6.20198385e-01, -8.67341161e-01],
       [-1.53062889e+00, -1.45840784e+00,  8.63797394e-02],
       [-8.42869319e-02, -5.94097261e-01, -2.15844023e+00],
       [-1.26858448e-02,  6.77583738e-01, -8.18211008e-01],
       [ 4.45561113e-01, -1.07951635e-01,  2.40991387e-01],
       [ 5.74443070e-01,  6.99943967e-01,  1.24024226e+00],
       [-4.99573237e-01,  1.36193069e-01, -2.73768522e-02],
       [ 3.02358939e-01,  1.03866458e+00, -2.25476056e+00],
       [-7.28696716e-01, -1.42316453e+00,  9.18395225e-01],
       [ 1.59156764e-01,  2.07151226e-01,  9.00292693e-01],
       [ 1.34773481e+00,  1.35091448e+00,  1.35824341e-01],
       [ 1.11861133e+00,  1.14194764e+00,  1.11482864e+00],
       [ 8.32206983e-01,  1.39953715e+00,  1.93251797e+00],
       [ 6.74684592e-01,  6.38024790e-01, -4.00157450e-01],
       [-1.55888019e-01, -3.58708622e-01,  7.69926150e-01],
       [-2.84769976e-01, -1.28954358e+00, -1.61924789e+00],
       [ 1.59156764e-01, -1.30960569e-01,  1.30716902e+00],
       [-1.01510106e+00, -1.19423392e+00,  4.87476024e-01],
       [-1.50198846e+00, -1.27621214e+00,  3.78159926e-01]])

In [109]:
num_cols = df_final_engineered.select_dtypes("number").columns
summary = (
    df_final_engineered[num_cols]
    .agg(["mean", "std", "min", "max", "median"])
    .T
    .assign(missing=df_final_engineered[num_cols].isna().sum())
)
display(summary)  # nice HTML in notebook

,mean,std,min,max,median,missing
LifeExpectancy_Both,7.378859e+01,7.002188e+00,5.480000e+01,8.580000e+01,7.475000e+01,0
LifeExpectancy_Female,7.639620e+01,7.121332e+00,5.510000e+01,8.840000e+01,7.780000e+01,0
LifeExpectancy_Male,7.120109e+01,6.986951e+00,5.350000e+01,8.310000e+01,7.105000e+01,0
UrbanPopulation_Percentage,5.770217e+01,2.386151e+01,0.000000e+00,9.880000e+01,6.025000e+01,0
UrbanPopulation_Absolute,2.528164e+07,8.652082e+07,0.000000e+00,9.565539e+08,4.956721e+06,0
PopulationDensity,3.905109e+02,1.944122e+03,2.000000e+00,2.406700e+04,9.300000e+01,0
GDP_per_capita_PPP,2.480939e+04,2.565802e+04,8.366656e+02,1.379473e+05,1.568298e+04,0
Population,4.243166e+07,1.530701e+08,8.718400e+04,1.426437e+09,8.954937e+06,0
TotalGDP,8.410245e+11,3.007097e+12,3.913878e+08,2.910892e+13,1.022966e+11,0
LogGDPperCapita,4.147027e+00,5.059535e-01,2.922552e+00,5.139713e+00,4.195429e+00,0
LogPopulation,6.874248e+00,8.599970e-01,4.940437e+00,9.154253e+00,6.952062e+00,0
LifeExpectancy_z,-7.723291e-17,1.002729e+00,-2.719207e+00,1.720060e+00,1.376764e-01,0
LogGDPpc_z,-6.999232e-16,1.002729e+00,-2.426737e+00,1.967364e+00,9.592474e-02,0
LogPop_z,3.547887e-16,1.002729e+00,-2.254761e+00,2.658412e+00,9.072911e-02,0

In [110]:
df_demographics.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Australia', 'Austria',
       ...
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Western Sahara', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country', length=200)

In [111]:
df_gdp.Country

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
208        Vanuatu
209        Vietnam
210          World
211         Zambia
212       Zimbabwe
Name: Country, Length: 213, dtype: object

In [112]:
df_pop.Country

0         Afghanistan
1              Africa
2         Africa (UN)
3             Albania
4             Algeria
            ...
255    Western Sahara
256             World
257             Yemen
258            Zambia
259          Zimbabwe
Name: Country, Length: 260, dtype: object