In [2]:
# Enable autoreload
%load_ext autoreload
%autoreload 2

In [3]:
import pandas as pd

# Part 1 - Data Acquisition (Preview)

## Web-crawling Demographics Data

In [4]:
from crawler import crawl_demographics, OUTPUT_DIR

In [5]:
df_demographics = crawl_demographics()
df_demographics

Crawling:   0%|          | 0/200 [00:00<?, ?country/s]

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
Country,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638.0,67.0
Albania,80.0,81.7,78.1,70.3,1948831.0,101.0
Algeria,76.7,78.1,75.3,74.4,35291973.0,20.0
Angola,65.0,67.5,62.4,68.8,26847887.0,31.0
Antigua and Barbuda,77.9,80.6,74.9,28.5,26823.0,214.0
...,...,...,...,...,...,...
Vietnam,74.9,79.5,70.2,41.4,42039428.0,328.0
Western Sahara,71.8,74.0,70.1,97.0,583007.0,2.0
Yemen,69.6,71.7,67.5,33.0,13801674.0,79.0
Zambia,66.7,69.1,64.3,46.8,10256668.0,29.0
Zimbabwe,63.3,65.6,60.8,37.9,6429761.0,44.0

In [6]:
df_demographics_before_sort = pd.read_csv(OUTPUT_DIR / "demographics_before_sort.csv")
df_demographics_before_sort

,Country,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
0,Afghanistan,66.5,68.1,64.9,26.7,11704638.0,67.0
1,Albania,80.0,81.7,78.1,70.3,1948831.0,101.0
2,Algeria,76.7,78.1,75.3,74.4,35291973.0,20.0
3,Angola,65.0,67.5,62.4,68.8,26847887.0,31.0
4,Antigua and Barbuda,77.9,80.6,74.9,28.5,26823.0,214.0
5,Argentina,77.7,80.2,75.1,96.0,44010474.0,17.0
6,Armenia,76.0,79.7,71.8,63.8,1882155.0,104.0
7,Aruba,76.6,79.1,74.0,44.7,48340.0,601.0
8,Australia,84.2,86.0,82.4,86.5,23335357.0,4.0
9,Austria,82.3,84.6,80.0,58.6,5337973.0,111.0

In [7]:
df_demographics_after_sort = pd.read_csv(OUTPUT_DIR / "demographics_after_sort.csv")
df_demographics_after_sort

,Country,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
0,Afghanistan,66.5,68.1,64.9,26.7,11704638.0,67.0
1,Albania,80.0,81.7,78.1,70.3,1948831.0,101.0
2,Algeria,76.7,78.1,75.3,74.4,35291973.0,20.0
3,Angola,65.0,67.5,62.4,68.8,26847887.0,31.0
4,Antigua and Barbuda,77.9,80.6,74.9,28.5,26823.0,214.0
5,Argentina,77.7,80.2,75.1,96.0,44010474.0,17.0
6,Armenia,76.0,79.7,71.8,63.8,1882155.0,104.0
7,Aruba,76.6,79.1,74.0,44.7,48340.0,601.0
8,Australia,84.2,86.0,82.4,86.5,23335357.0,4.0
9,Austria,82.3,84.6,80.0,58.6,5337973.0,111.0

## Load the 2021 CSVs

In [42]:
from utils import load_csv, read_csv

In [39]:
def confirm_cols(df, expected_cols):
        if all(col in df.columns for col in expected_cols):
            print(f"{expected_cols} cols exist in dataframe")

In [ ]:
gdp_dataset_expected_cols = ["Country", "GDP_per_capita_PPP"]
gdp_dataset_filename = 'gdp_per_capita_2021.csv'
df_gdp = read_csv(gdp_dataset_filename)

In [ ]:
pop_dataset_expected_cols = ["Country", "Population"]
pop_dataset_filename = 'population_2021.csv'
df_pop = read_csv(pop_dataset_filename)

In [46]:
confirm_cols(df_gdp, gdp_dataset_expected_cols)
print(df_gdp.shape, df_gdp.columns)
print(df_gdp.info())

['Country', 'GDP_per_capita_PPP'] cols exist in dataframe
(213, 2) Index(['Country', 'GDP_per_capita_PPP'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             213 non-null    object
 1   GDP_per_capita_PPP  213 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB
None

In [41]:
confirm_cols(df_pop, pop_dataset_expected_cols)
print(df_pop.shape, df_pop.columns)
print(df_pop.info())

['Country', 'Population'] cols exist in dataframe

((260, 2), Index(['Country', 'Population'], dtype='object'))

In [43]:
# numeric fix
for col in ["GDP_per_capita_PPP", "Population"]:
    if col in df_gdp.columns:
        df_gdp[col] = pd.to_numeric(df_gdp[col], errors="coerce")
    if col in df_pop.columns:
        df_pop[col] = pd.to_numeric(df_pop[col], errors="coerce")

In [47]:
# before sort snapshots
df_gdp.head()

       Country  GDP_per_capita_PPP
0  Afghanistan           2144.1665
1      Albania          16353.8090
2      Algeria          14496.8650
3      Andorra          59332.2030
4       Angola           7408.1265

In [48]:
df_gdp.sort_values("Country", inplace=True)
df_gdp.head()

       Country  GDP_per_capita_PPP
0  Afghanistan           2144.1665
1      Albania          16353.8090
2      Algeria          14496.8650
3      Andorra          59332.2030
4       Angola           7408.1265

In [49]:
df_pop.head()

       Country  Population
0  Afghanistan    40000360
1       Africa  1413750475
2  Africa (UN)  1413753005
3      Albania     2849591
4      Algeria    44761051

In [51]:
df_gdp.describe()

       GDP_per_capita_PPP
count          213.000000
mean         25822.604541
std          25794.941595
min            836.665600
25%           6214.017000
50%          16353.809000
75%          38862.090000
max         137947.340000

In [50]:
df_pop.sort_values("Country", inplace=True)
df_pop.head()

       Country  Population
0  Afghanistan    40000360
1       Africa  1413750475
2  Africa (UN)  1413753005
3      Albania     2849591
4      Algeria    44761051

In [52]:
df_pop.describe()

         Population
count  2.600000e+02
mean   1.687752e+08
std    7.254974e+08
min    5.150000e+02
25%    5.224038e+05
50%    6.827910e+06
75%    3.425334e+07
max    7.954448e+09

## Demographics Data Analysis

In [19]:
from utils import OUTPUT_DIR

### Numeric-field Summary

In [17]:
num_cols = df_demographics.select_dtypes("number").columns
summary = (
    df_demographics[num_cols]
    .agg(["mean", "std", "min", "max", "median"])
    .T
    .assign(missing=df_demographics[num_cols].isna().sum())
)
display(summary)  # nice HTML in notebook

,mean,std,min,max,median,missing
LifeExpectancy_Both,7.397750e+01,7.004589e+00,54.8,85.8,74.85,0
LifeExpectancy_Female,7.659650e+01,7.126054e+00,55.1,88.4,78.05,0
LifeExpectancy_Male,7.137950e+01,6.979282e+00,53.5,83.1,71.20,0
UrbanPopulation_Percentage,5.727600e+01,2.514603e+01,0.0,98.8,60.55,0
UrbanPopulation_Absolute,2.483416e+07,8.517914e+07,26661.0,956553854.0,5011189.50,10
PopulationDensity,3.760200e+02,1.866303e+03,2.0,24067.0,93.00,0

In [20]:
summary.to_csv(OUTPUT_DIR / "demographics_numeric_summary.csv")

### Pearson Correlation

In [22]:
corr = df_demographics["LifeExpectancy_Both"].corr(
    df_demographics["PopulationDensity"]
)
print(f"Pearson correlation (LifeExpectancy Both vs PopulationDensity): {corr:.4f}")

Pearson correlation (LifeExpectancy Both vs PopulationDensity): 0.1796