In [34]:
# Enable autoreload
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [35]:
import pandas as pd

# Part 1 - Data Acquisition (Preview)

## Web-crawling Demographics Data

In [36]:
from crawler import crawl_demographics, OUTPUT_DIR

In [37]:
df_demographics = crawl_demographics()
df_demographics

Crawling:   0%|          | 0/200 [00:00<?, ?country/s]

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
Country,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638.0,67.0
Albania,80.0,81.7,78.1,70.3,1948831.0,101.0
Algeria,76.7,78.1,75.3,74.4,35291973.0,20.0
Angola,65.0,67.5,62.4,68.8,26847887.0,31.0
Antigua and Barbuda,77.9,80.6,74.9,28.5,26823.0,214.0
...,...,...,...,...,...,...
Vietnam,74.9,79.5,70.2,41.4,42039428.0,328.0
Western Sahara,71.8,74.0,70.1,97.0,583007.0,2.0
Yemen,69.6,71.7,67.5,33.0,13801674.0,79.0
Zambia,66.7,69.1,64.3,46.8,10256668.0,29.0
Zimbabwe,63.3,65.6,60.8,37.9,6429761.0,44.0

In [38]:
df_demographics_before_sort = pd.read_csv(OUTPUT_DIR / "demographics_before_sort.csv")
df_demographics_before_sort

,Country,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
0,Afghanistan,66.5,68.1,64.9,26.7,11704638.0,67.0
1,Albania,80.0,81.7,78.1,70.3,1948831.0,101.0
2,Algeria,76.7,78.1,75.3,74.4,35291973.0,20.0
3,Angola,65.0,67.5,62.4,68.8,26847887.0,31.0
4,Antigua and Barbuda,77.9,80.6,74.9,28.5,26823.0,214.0
5,Argentina,77.7,80.2,75.1,96.0,44010474.0,17.0
6,Armenia,76.0,79.7,71.8,63.8,1882155.0,104.0
7,Aruba,76.6,79.1,74.0,44.7,48340.0,601.0
8,Australia,84.2,86.0,82.4,86.5,23335357.0,4.0
9,Austria,82.3,84.6,80.0,58.6,5337973.0,111.0

In [39]:
df_demographics_after_sort = pd.read_csv(OUTPUT_DIR / "demographics_after_sort.csv")
df_demographics_after_sort

,Country,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
0,Afghanistan,66.5,68.1,64.9,26.7,11704638.0,67.0
1,Albania,80.0,81.7,78.1,70.3,1948831.0,101.0
2,Algeria,76.7,78.1,75.3,74.4,35291973.0,20.0
3,Angola,65.0,67.5,62.4,68.8,26847887.0,31.0
4,Antigua and Barbuda,77.9,80.6,74.9,28.5,26823.0,214.0
5,Argentina,77.7,80.2,75.1,96.0,44010474.0,17.0
6,Armenia,76.0,79.7,71.8,63.8,1882155.0,104.0
7,Aruba,76.6,79.1,74.0,44.7,48340.0,601.0
8,Australia,84.2,86.0,82.4,86.5,23335357.0,4.0
9,Austria,82.3,84.6,80.0,58.6,5337973.0,111.0

## Load the 2021 CSVs

In [40]:
from utils import load_csv, read_csv

In [41]:
def confirm_cols(df, expected_cols):
        if all(col in df.columns for col in expected_cols):
            print(f"{expected_cols} cols exist in dataframe")

In [42]:
gdp_dataset_expected_cols = ["Country", "GDP_per_capita_PPP"]
gdp_dataset_filename = 'gdp_per_capita_2021.csv'
df_gdp = read_csv(gdp_dataset_filename)

In [43]:
pop_dataset_expected_cols = ["Country", "Population"]
pop_dataset_filename = 'population_2021.csv'
df_pop = read_csv(pop_dataset_filename)

In [44]:
confirm_cols(df_gdp, gdp_dataset_expected_cols)
print(df_gdp.shape, df_gdp.columns)
print(df_gdp.info())

['Country', 'GDP_per_capita_PPP'] cols exist in dataframe
(213, 2) Index(['Country', 'GDP_per_capita_PPP'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             213 non-null    object
 1   GDP_per_capita_PPP  213 non-null    float64
dtypes: float64(1), object(1)
memory usage: 3.5+ KB
None

In [45]:
confirm_cols(df_pop, pop_dataset_expected_cols)
print(df_pop.shape, df_pop.columns)
print(df_pop.info())

['Country', 'Population'] cols exist in dataframe
(260, 2) Index(['Country', 'Population'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     260 non-null    object
 1   Population  260 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.2+ KB
None

In [46]:
# numeric fix
for col in ["GDP_per_capita_PPP", "Population"]:
    if col in df_gdp.columns:
        df_gdp[col] = pd.to_numeric(df_gdp[col], errors="coerce")
    if col in df_pop.columns:
        df_pop[col] = pd.to_numeric(df_pop[col], errors="coerce")

In [47]:
# before sort snapshots
df_gdp.head()

       Country  GDP_per_capita_PPP
0  Afghanistan           2144.1665
1      Albania          16353.8090
2      Algeria          14496.8650
3      Andorra          59332.2030
4       Angola           7408.1265

In [48]:
df_gdp.sort_values("Country", inplace=True)
df_gdp.head()

       Country  GDP_per_capita_PPP
0  Afghanistan           2144.1665
1      Albania          16353.8090
2      Algeria          14496.8650
3      Andorra          59332.2030
4       Angola           7408.1265

In [49]:
df_pop.head()

       Country  Population
0  Afghanistan    40000360
1       Africa  1413750475
2  Africa (UN)  1413753005
3      Albania     2849591
4      Algeria    44761051

In [50]:
df_gdp.describe()

       GDP_per_capita_PPP
count          213.000000
mean         25822.604541
std          25794.941595
min            836.665600
25%           6214.017000
50%          16353.809000
75%          38862.090000
max         137947.340000

In [51]:
df_pop.sort_values("Country", inplace=True)
df_pop.head()

       Country  Population
0  Afghanistan    40000360
1       Africa  1413750475
2  Africa (UN)  1413753005
3      Albania     2849591
4      Algeria    44761051

In [52]:
df_pop.describe()

         Population
count  2.600000e+02
mean   1.687752e+08
std    7.254974e+08
min    5.150000e+02
25%    5.224038e+05
50%    6.827910e+06
75%    3.425334e+07
max    7.954448e+09

## Demographics Data Analysis

In [53]:
from utils import OUTPUT_DIR

### Numeric-field Summary

In [54]:
num_cols = df_demographics.select_dtypes("number").columns
summary = (
    df_demographics[num_cols]
    .agg(["mean", "std", "min", "max", "median"])
    .T
    .assign(missing=df_demographics[num_cols].isna().sum())
)
display(summary)  # nice HTML in notebook

,mean,std,min,max,median,missing
LifeExpectancy_Both,7.397750e+01,7.004589e+00,54.8,85.8,74.85,0
LifeExpectancy_Female,7.659650e+01,7.126054e+00,55.1,88.4,78.05,0
LifeExpectancy_Male,7.137950e+01,6.979282e+00,53.5,83.1,71.20,0
UrbanPopulation_Percentage,5.727600e+01,2.514603e+01,0.0,98.8,60.55,0
UrbanPopulation_Absolute,2.483416e+07,8.517914e+07,26661.0,956553854.0,5011189.50,10
PopulationDensity,3.760200e+02,1.866303e+03,2.0,24067.0,93.00,0

In [55]:
summary.to_csv(OUTPUT_DIR / "demographics_numeric_summary.csv")

### Pearson Correlation

In [56]:
corr = df_demographics["LifeExpectancy_Both"].corr(
    df_demographics["PopulationDensity"]
)
print(f"Pearson correlation (LifeExpectancy Both vs PopulationDensity): {corr:.4f}")

Pearson correlation (LifeExpectancy Both vs PopulationDensity): 0.1796

# Part 2 - Data Cleaning

In [57]:
from data_cleaning import clean_demographics, clean_gdp, clean_population

In [58]:
df_demographics = clean_demographics(df_demographics)
df_demographics

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
Country,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638.0,67.0
Albania,80.0,81.7,78.1,70.3,1948831.0,101.0
Algeria,76.7,78.1,75.3,74.4,35291973.0,20.0
Angola,65.0,67.5,62.4,68.8,26847887.0,31.0
Antigua And Barbuda,77.9,80.6,74.9,28.5,26823.0,214.0
...,...,...,...,...,...,...
Vietnam,74.9,79.5,70.2,41.4,42039428.0,328.0
Western Sahara,71.8,74.0,70.1,97.0,583007.0,2.0
Yemen,69.6,71.7,67.5,33.0,13801674.0,79.0
Zambia,66.7,69.1,64.3,46.8,10256668.0,29.0
Zimbabwe,63.3,65.6,60.8,37.9,6429761.0,44.0

In [59]:
df_gdp = clean_gdp(df_gdp)
df_gdp

[GDP] Tukey outliers count: 6

             GDP_per_capita_PPP
Country
Afghanistan           2144.1665
Albania              16353.8090
Algeria              14496.8650
Andorra              59332.2030
Angola                7408.1265
...                         ...
Vanuatu               3135.8367
Vietnam              12048.9020
World                19702.8400
Zambia                3503.0350
Zimbabwe              3184.7854

[213 rows x 1 columns]

In [60]:
df_pop = clean_population(df_pop)
df_pop

[Population] Logâ€‘Tukey outliers count: 1

                Population
Country
Afghanistan       40000360
Africa          1413750475
Africa (Un)     1413753005
Albania            2849591
Algeria           44761051
...                    ...
Western Sahara      558577
World           7954448327
Yemen             37140180
Zambia            19603556
Zimbabwe          15797165

[260 rows x 1 columns]

## Data Integration (inner join)

In [61]:
merged = df_demographics.join(df_gdp, how="inner").join(df_pop, how="inner")
lost = sorted(set(df_demographics.index) | set(df_gdp.index) | set(df_pop.index) - set(merged.index))
pd.Series(lost, name="LostCountries").to_csv(OUTPUT_DIR / "lost_countries.csv", index=False)

In [62]:
df = merged
df

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity,GDP_per_capita_PPP,Population
Country,,,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638.0,67.0,2144.1665,40000360
Albania,80.0,81.7,78.1,70.3,1948831.0,101.0,16353.8090,2849591
Algeria,76.7,78.1,75.3,74.4,35291973.0,20.0,14496.8650,44761051
Angola,65.0,67.5,62.4,68.8,26847887.0,31.0,7408.1265,34532382
Antigua And Barbuda,77.9,80.6,74.9,28.5,26823.0,214.0,25733.2950,92316
...,...,...,...,...,...,...,...,...
Uzbekistan,72.7,75.7,69.7,48.1,17835913.0,87.0,9247.6440,34243658
Vanuatu,71.8,74.3,69.7,25.4,85244.0,27.0,3135.8367,305836
Vietnam,74.9,79.5,70.2,41.4,42039428.0,328.0,12048.9020,98935054
Zambia,66.7,69.1,64.3,46.8,10256668.0,29.0,3503.0350,19603556
Zimbabwe,63.3,65.6,60.8,37.9,6429761.0,44.0,3184.7854,15797165

# Part 3 - Feature Engineering

In [63]:
import numpy as np

## New Feature

In [64]:
df["TotalGDP"] = df["GDP_per_capita_PPP"] * df["Population"]
df["TotalGDP"].describe()

count    1.730000e+02
mean     8.893523e+11
std      3.095184e+12
min      3.913878e+08
25%      3.690370e+10
50%      1.128578e+11
75%      5.662769e+11
max      2.910892e+13
Name: TotalGDP, dtype: float64

## Log Transforms

In [65]:
df["LogGDPperCapita"] = np.log10(df["GDP_per_capita_PPP"].clip(lower=1))
df["LogPopulation"] = np.log10(df["Population"].clip(lower=1))

## Scaling

In [66]:
def z(s: pd.Series):
    return (s - s.mean()) / s.std(ddof=0)

In [67]:
df["LifeExpectancy_z"] = z(df["LifeExpectancy_Both"])
df["LogGDPpc_z"] = z(df["LogGDPperCapita"])
df["LogPop_z"] = z(df["LogPopulation"])
X = df.sort_index()[["LifeExpectancy_z", "LogGDPpc_z", "LogPop_z"]].to_numpy()

In [68]:
X

array([[-1.05351508, -1.63573242,  0.82612569],
       [ 0.86289934,  0.10977258, -0.57581776],
       [ 0.39444248,  0.00622288,  0.88580228],
       [-1.26645002, -0.57055888,  0.74811835],
       [ 0.56479043,  0.49923801, -2.3959489 ],
       [ 0.5363991 ,  0.5179616 ,  0.8922972 ],
       [ 0.29507284,  0.08676715, -0.57197625],
       [ 0.38024682,  0.78039863, -2.31501974],
       [ 1.45911716,  1.18730845,  0.5966151 ],
       [ 1.18939957,  1.27628263,  0.03255827],
       [ 0.11052923,  0.28746213,  0.10271406],
       [ 0.13892056,  0.61194072, -1.6227161 ],
       [ 1.09002994,  1.15108054, -0.9157662 ],
       [ 0.18150754, -0.56674693,  1.58663395],
       [ 0.36605116,  0.07383764, -1.80311864],
       [ 0.1247249 ,  0.55975097,  0.0491233 ],
       [ 1.20359524,  1.25296551,  0.16784954],
       [-0.00303607, -0.17958297, -1.62407562],
       [-1.82008085, -1.22355882,  0.24626919],
       [-0.05981872, -0.05760911, -1.26653975],
       [-0.71281919, -0.36103289,  0.18439941],
       [ 0.60737742,  0.21775637, -0.50688076],
       [-0.64184087,  0.19032623, -0.66662994],
       [ 0.32346417,  0.19577841,  1.70499618],
       [ 0.25248586,  1.45468431, -1.55333942],
       [ 0.29507284,  0.61766675, -0.10825852],
       [-1.7632982 , -1.50849731,  0.50873622],
       [-1.40840664, -2.44424489,  0.22824426],
       [-0.41471028, -0.71997771,  0.37121912],
       [-1.38001532, -0.94454295,  0.61587584],
       [ 1.27457355,  1.16391345,  0.80520281],
       [-2.27434205, -2.18713571, -0.26566672],
       [-2.62923361, -1.83507179,  0.39726823],
       [ 1.07583428,  0.60502092,  0.44364394],
       [ 0.63576874,  0.29998755,  2.72285384],
       [ 0.59318175,  0.17773602,  0.95700513],
       [-0.95414545, -1.22930095, -1.23807495],
       [-1.09610207, -0.71479368, -0.19029806],
       [ 1.03324729,  0.4443417 , -0.27110395],
       [ 0.70674705,  0.80921958, -0.40595388],
       [ 1.14681259,  1.06869851, -0.98530976],
       [ 1.17520391,  1.36316978, -0.19349727],
       [-1.06771075, -0.75917758, -1.07083571],
       [ 0.0111596 ,  0.36114182,  0.14692418],
       [ 0.55059477, -0.05246049,  0.39290953],
       [-0.27275365,  0.06807384,  1.36756914],
       [-0.20177534, -0.24592111, -0.15851994],
       [-1.39421098,  0.13399494, -0.8319157 ],
       [ 0.79192103,  0.9805987 , -0.97952788],
       [-1.35162399, -0.32612861, -1.03190331],
       [-0.85477581, -1.47396316,  1.41852309],
       [-0.8973628 , -0.25587487, -1.17772351],
       [ 1.17520391,  1.1877476 , -0.22290412],
       [ 1.37394319,  1.13444974,  1.09255069],
       [-0.74121051,  0.21680628, -0.67212254],
       [-1.08190641, -1.41329743, -0.62939207],
       [ 0.1247249 ,  0.23480105, -0.42469269],
       [ 1.1042256 ,  1.26777865,  1.21794568],
       [-1.13868906, -0.6688192 ,  0.71623152],
       [ 1.17520391,  0.7278277 ,  0.12031787],
       [ 0.22409453,  0.05244217, -2.27181   ],
       [-0.14499269, -0.16855436,  0.3903885 ],
       [-1.82008085, -1.15804252,  0.25789551],
       [-1.35162399, -1.52083548, -0.74832256],
       [-0.49988425,  0.39774237, -1.23982143],
       [-1.22386303, -1.30938086,  0.15877141],
       [-0.1024057 , -0.72309552,  0.10558405],
       [ 1.68624776,  1.30692786, -0.06334431],
       [ 0.47961645,  0.84865462,  0.07468335],
       [ 1.31716054,  1.25516079, -1.65548104],
       [-0.20177534, -0.49916782,  2.71828287],
       [-0.35792763, -0.10361399,  1.85262487],
       [ 0.59318175,  0.03277486,  1.24729069],
       [-0.20177534, -0.10532087,  0.86537865],
       [ 1.24618222,  1.8083556 , -0.27442354],
       [ 1.26037789,  1.00270692,  0.03112778],
       [ 1.43072584,  1.07785935,  1.03889942],
       [-0.31534064, -0.34993065, -0.57804926],
       [ 1.57268246,  0.97073912,  1.43368896],
       [ 0.59318175, -0.38608499,  0.14419179],
       [ 0.11052923,  0.71151177,  0.45142285],
       [-1.40840664, -0.8519817 ,  0.97765462],
       [-1.02512376, -1.33313086, -2.22107844],
       [ 0.97646464,  1.08166362, -0.35002949],
       [-0.27275365, -0.79026614, -0.11265517],
       [-0.62764521, -0.49592772, -0.06557571],
       [ 0.36605116,  0.77819577, -0.79497246],
       [ 0.59318175, -0.18531756, -0.20621102],
       [-2.23175506, -1.48856819, -0.6984873 ],
       [-1.62134158, -1.92051915, -0.25059826],
       [-0.1024057 , -0.11143217, -0.08871625],
       [ 0.33765983,  1.00895446, -0.58618895],
       [ 1.2177909 ,  1.94179314, -1.36819747],
       [ 1.34555186,  1.40878193, -1.32512484],
       [-1.40840664, -1.88755609,  0.66795561],
       [-0.88316713, -1.84144901,  0.45952272],
       [ 0.43702947,  0.62595055,  0.74426213],
       [ 1.07583428,  0.24099964, -1.48255534],
       [-1.84847218, -1.5578485 ,  0.51814377],
       [ 1.37394319,  1.20036568, -1.47417796],
       [-0.71281919, -0.77540575, -0.30634732],
       [ 0.19570321,  0.39290597, -1.00071227],
       [ 0.20989887,  0.32590452,  1.44193807],
       [-0.34373196,  0.07373821, -0.54433905],
       [-0.24436233,  0.02355245, -0.49160516],
       [ 0.49381212,  0.45739223, -1.39928604],
       [ 0.25248586, -0.44006863,  0.78409259],
       [-1.40840664, -1.96753725,  0.7028309 ],
       [-0.93994978, -0.87818991,  0.97932664],
       [-0.88316713, -0.33817596, -0.58314658],
       [-0.42890594, -0.99005482,  0.66407947],
       [ 1.20359524,  1.35063324,  0.39435181],
       [ 1.20359524,  1.03829954, -0.26612401],
       [ 0.19570321, -0.60867741, -0.12650908],
       [-1.73490688, -1.89500829,  0.56601643],
       [-2.71440758, -0.82773091,  1.72726217],
       [ 0.5363991 ,  0.37896136, -0.80476883],
       [ 1.37394319,  1.5673078 , -0.23579658],
       [ 0.93387765,  0.85024162, -0.33329769],
       [-0.85477581, -0.84742033,  1.77584237],
       [ 0.86289934,  0.65734412, -0.35190002],
       [-1.06771075, -1.10500194,  0.0911031 ],
       [ 0.02535526,  0.05848851, -0.12336825],
       [ 0.59318175,  0.05155159,  0.72653049],
       [-0.54247124, -0.41701523,  1.37772563],
       [ 0.72094272,  0.91548903,  0.79946168],
       [ 1.24618222,  0.85340063,  0.11077163],
       [ 1.16100825,  0.89013341, -0.50552683],
       [ 1.24618222,  1.79906559, -0.58231075],
       [ 0.32346417,  0.83573538,  0.43793551],
       [-0.05981872,  0.85508809,  1.51262991],
       [-0.81218882, -1.42786576,  0.24396323],
       [-0.13079703,  0.24318578, -2.04605675],
       [-0.28694931, -0.72156836, -1.95039542],
       [ 0.74933404,  1.16370603,  0.69644193],
       [-0.6702322 , -1.06351116,  0.37887238],
       [ 0.45122513,  0.42738059, -0.11149296],
       [-0.11660137,  0.63046088, -2.24386851],
       [-1.67812423, -1.39164131, -0.02176404],
       [ 1.43072584,  1.90304619, -0.22240432],
       [ 0.67835573,  0.84396231, -0.23240407],
       [ 1.13261692,  1.00337661, -0.73441792],
       [-0.4431016 , -1.49751417, -1.27541574],
       [-2.1039941 , -2.00659858,  0.38042836],
       [-1.05351508, -0.0416415 ,  1.05442543],
       [ 1.50170415,  1.04500089,  0.96380641],
       [ 1.43072584,  0.96185642,  0.91994681],
       [ 0.56479043, -0.00455509,  0.5254822 ],
       [-1.02512376, -1.27868715,  0.9236169 ],
       [-0.00303607,  0.21377015, -1.38707185],
       [ 1.37394319,  1.2701576 ,  0.11205553],
       [ 1.45911716,  1.49074643,  0.01694117],
       [-0.13079703, -0.98129168,  0.49982101],
       [-0.25855799, -1.10305797,  0.08866043],
       [-0.92575412, -1.21644742,  1.06576096],
       [ 0.40863814,  0.2931618 ,  1.13604239],
       [-1.5361676 , -1.47769234,  0.02728474],
       [-0.1024057 , -0.61496783, -2.32535617],
       [-0.03142739,  0.65437953, -0.9207544 ],
       [ 0.42283381, -0.12971432,  0.18932254],
       [ 0.55059477,  0.67669873,  1.23656843],
       [-0.51407991,  0.11398236, -0.09193569],
       [-0.74121051, -1.4425137 ,  0.89926277],
       [ 0.13892056,  0.1848103 ,  0.88029075],
       [ 1.31716054,  1.32647466,  0.07910422],
       [ 1.09002994,  1.11789129,  1.10513108],
       [ 0.80611669,  1.3750081 ,  1.96209484],
       [ 0.6499644 ,  0.61489318, -0.48262131],
       [-0.17338402, -0.38001115,  0.74366257],
       [-0.30114498, -1.30913795, -1.76026588],
       [ 0.13892056, -0.15268103,  1.30670976],
       [-1.02512376, -1.21400319,  0.44764608],
       [-1.50777628, -1.29583097,  0.33307943]])