In [1]:
# Enable autoreload
%load_ext autoreload
%autoreload 2

# Part 1 - Data Acquisition

## Web-crawling Demographics Data

In [7]:
from crawler import crawl_demographics

In [8]:
df_demographics = crawl_demographics()
df_demographics

Crawling:   0%|          | 0/200 [00:00<?, ?country/s]

,LifeExpectancy_Both,LifeExpectancy_Female,LifeExpectancy_Male,UrbanPopulation_Percentage,UrbanPopulation_Absolute,PopulationDensity
Country,,,,,,
Afghanistan,66.5,68.1,64.9,26.7,11704638.0,67.0
Albania,80.0,81.7,78.1,70.3,1948831.0,101.0
Algeria,76.7,78.1,75.3,74.4,35291973.0,20.0
Angola,65.0,67.5,62.4,68.8,26847887.0,31.0
Antigua and Barbuda,77.9,80.6,74.9,28.5,26823.0,214.0
...,...,...,...,...,...,...
Vietnam,74.9,79.5,70.2,41.4,42039428.0,328.0
Western Sahara,71.8,74.0,70.1,97.0,583007.0,2.0
Yemen,69.6,71.7,67.5,33.0,13801674.0,79.0
Zambia,66.7,69.1,64.3,46.8,10256668.0,29.0
Zimbabwe,63.3,65.6,60.8,37.9,6429761.0,44.0

## Load the 2021 CSVs

In [1]:
from utils import load_csv

In [2]:
gdp_dataset_expected_cols = ["Country", "GDP_per_capita_PPP"]
gdp_dataset_filename = 'gdp_per_capita_2021.csv'
df_gdp = load_csv(gdp_dataset_filename, gdp_dataset_expected_cols, "gdp")

In [3]:
df_gdp

         Country  GDP_per_capita_PPP
0    Afghanistan           2144.1665
1        Albania          16353.8090
2        Algeria          14496.8650
3        Andorra          59332.2030
4         Angola           7408.1265
..           ...                 ...
208      Vanuatu           3135.8367
209      Vietnam          12048.9020
210        World          19702.8400
211       Zambia           3503.0350
212     Zimbabwe           3184.7854

[213 rows x 2 columns]

In [4]:
pop_dataset_expected_cols = ["Country", "Population"]
pop_dataset_filename = 'population_2021.csv'
df_pop = load_csv(pop_dataset_filename, pop_dataset_expected_cols, "pop")

In [5]:
df_pop

            Country  Population
0       Afghanistan    40000360
1            Africa  1413750475
2       Africa (UN)  1413753005
3           Albania     2849591
4           Algeria    44761051
..              ...         ...
255  Western Sahara      558577
256           World  7954448327
257           Yemen    37140180
258          Zambia    19603556
259        Zimbabwe    15797165

[260 rows x 2 columns]